.row
  .col-md-6.col-md-offset-3
    %h2 All domains taken? Here's the help...
.row
  .col-md-6.col-md-offset-3
    The solutions is easy: Before you're going bonkers, just buy a domain that's truly bonkers. All our suggestions are available at least.
    %strong Promise.
%hr
.row
  .col-md-6.col-md-offset-3
    = render partial: "search"
